<header>
    <nav>
        <a href="/blogs"><h1>Bloggo</h1></a>
        <ul>
            <li>
                <a href="/blogs">Home</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/blogs/create">New Blog</a>
            </li>
        </ul>
    </nav>
</header>