<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <div class="err-page">
        <h1>Oh no! You're wandering around in the darkness</h1>
        <h2>"I FIND YOUR LACK OF FAITH DISTURBING." <a href="/">Go back</a></h2>
    </div>
</body>
</html>