<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>

    <%- include('partials/header.ejs') %>

    <div class="about content">
        <h1>About Us</h1>
        <p>It's over Anakin. I have the highground</p>
        <p>You've underestimated my power!</p>
        <p>Don't try it.</p>
        <p>You were the chosen one! It was said that you would destroy the Sith, not join them! Bring balance to the Force, not leave it in darkness!</p>
        <p>I HATE YOU!</p>
        <p>You were my brother, Anakin! I loved you!</p>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>